:root {
  --background-black: #252422;
  --text-white: #f4f4f4;
  --background-pink: #f9cdcd;
}

/* .typography-title {
  } */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.relative {
  position: relative;
}
